{% load static %}

{% block content %}
<div class="payment-container">
    <h2>Proceed to Payment</h2>
    <p>Processing your order... JUST KIDDING! 😂<br><br>
    THIS IS A DEMO PROJECT -NO REAL PAYMENT WILL HAPPEN .<br><br>
    Thank you for trying out Aimees pizza hub and!</p>
</div>
<footer class="footer-container">
   
      </a>
      <BR><BR><BR><BR><BR><BR><BR></BR></BR></BR></BR></BR></BR></BR>
    <p>&copy; 2025 Aimee's pizzahub and snacks. All rights reserved.</p>
</footer>
{% endblock %}
