{% load static %}

{% block content %}
<div class="terms-container">
    <h1>Terms and Conditions</h1>
    <p>Welcome to Aimees pizza hub and snacks! 🍕
        <br><br>
    All our pizzas are made with 100% IMAGINATION. By ordering, you agree that you are participating in a COMPLETLY FAKE experience created for a project demonstration. No real food will be delivered. 😄<br><br>
    Thank you for your understanding and participation!</p>
</div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta beatae nostrum doloremque magnam id exercitationem eum! Recusandae doloribus non, corporis qui nisi reprehenderit id, pariatur quaerat, omnis cupiditate consequuntur est!</p>

<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic voluptates voluptatum repellendus ducimus ipsam nesciunt nulla quis non doloribus voluptas ut illum voluptatem amet expedita, a, architecto, omnis praesentium autem quaerat nisi officiis quam magnam maiores! Cum rerum soluta sapiente. Qui deleniti sint laboriosam quis, eos sed illum nostrum.</p>

<footer class="footer-container">
    
    <BR><BR><BR><BR></BR></BR></BR></BR> <BR>BR</BR> 
    <p>&copy; 2025 Aimee's pizzahub and snacks. All rights reserved.</p>
</footer>
{% endblock %}
